html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#333;text-decoration:none}
mark{background-color:#ff9;color:#333;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
html, body, #root, .App{
  height: 100%;
  width: 100%;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, 
dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, 
hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, 
section, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video{
  font: inherit;
  font-size: 100%;
  vertical-align: initial;
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
}
svg {
  display: block;
  pointer-events: none;
}
body{
  font-family: "Segoe UI","Helvetica Neue","Helvetica","Lucida Grande",Arial,"Ubuntu","Cantarell","Fira Sans",sans-serif;
  color: #4a4a4a;
  text-rendering: optimizeLegibility;
  user-select: none;
}
img{
  max-width: 100%;
}
input:focus{
  border: none;
  outline: none;
}
button {
  outline: none;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}
button, input {
  font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
  margin: 0;
}
.App{
  text-align: center;
  background: linear-gradient(#fdcd3b 125px, #fffdeb 125px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.frame{
  width: 100vw;
  max-width: 1400px;
  height: 93vh;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0,0,0, 0.06),0 2px 5px 0 rgba(0,0,0, 0.2);
}
.profile{
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-left: 15px;
  cursor: pointer;
}
.circle{
  border-radius: 100%;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.frame > .container{
  display: flex;
  height: 100%;
}