.chat{
  width: calc(100% - 420px);
  display: flex;
  flex-direction: column;
}
.chat footer {
  height: 70px;
}
.chat .chatHistory {
  height: calc(100% - 70px);
  border-left: 1px solid #f2f2f2;
}
.chat footer{
  padding: 0;
  background-color: #e5ddd5;
  height: auto;
  order: 3;
  position: relative;
  flex: none;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}
.chat footer .container{
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #f0f0f0;
  padding: 5px 10px;
  align-items: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  min-height: 62px;
  position: relative;
  z-index: 2;
  visibility: visible;
  height: 100%;
}
.chat footer .container > div{
  width: 100%;
  display: flex;
  padding: 5px 15px;
}
.chat footer .container > div:first-child, .chat footer .container > div:last-child{
  will-change: width;
  width: unset;
  padding: 5px 10px;
  box-sizing: border-box;
  flex: none;
  min-height: 52px;
  /* margin: auto; */
}
.chat footer .container > div > div{
  display: flex;
  position: relative;
  height: 42px;
  transition: all .3s;
  justify-content: space-between;
  overflow: hidden;
}
.chat button{
  border-radius: 2px;
  transform: translateZ(0);
  color: #919191;
  width: 26px;
  display: block;
  transition: transform .3s,opacity .3s;
  opacity: 1;
}
.chat footer textarea{
  resize: none;
  width: 100%;
  border-radius: 30px;
  margin: auto;
  padding: 10px 20px;
  line-height: 18px;
}
.chatInit {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatInit span{
  font-size: 48px;
  color: #47C7FC;
  font-weight: bold;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}